doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/node_modules/comment-core-library/build/style.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/node_modules/comment-core-library/build/CommentCoreLibrary.js')
    body
        #my-player.abp(style='width:100%; height:600px; background:#000;')
            #my-comment-stage.container
        ul#messages
        script(src='http://cdn.bootcss.com/jquery/2.1.3/jquery.js')
        script(src='/javascripts/index.js')
